@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-skill {
  background-image: linear-gradient(#FC8181, #FED7D7);
}

.gradient-ig {
      background: #833ab4;
      background-size: cover;
      background: linear-gradient(
          to bottom,
          #833ab4,#fd1d1d,#fcb045
      );
}
.active {
  opacity: 1!important;
}